body{
    margin: 0px;
    padding: 0px;
}

.container-main {
    display: grid;
    width: 100%;
    min-height: 100vh ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #1d1414;
}

.container {
    width: 390px;
    border-radius: 10px;
    text-align: center;
    padding: 66px;
    
}


#dark-mode-toggle{
    float: right;
    margin: 11px;
    width: 28px;
    height: 36px;
    background-image: url(../images/icon-sun.svg);
    background-size: 27px;
    background-repeat: no-repeat;
    border: none;
    background-color: unset;
}

.head-todo{
    color: #f1f2f2;
    text-align: -webkit-left;
    letter-spacing: 16px;
    font-family: system-ui;
}
.new-todo{
color: rgb(243, 241, 240);
}



.puteem-element{
    display: -webkit-inline-box;
    position: relative;
    bottom: -107px;
}

.items{
color: rgb(215, 219, 221);
float: left;
}

.all{
color: rgb(47, 47, 180);
}
.drag{
    text-align: center;
    color: #c4c1c1;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}
@media only screen and (max-width: 375px) { 
    /* for mobile */
    .container-main {
        background-image: url(../images/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
        font-size: 16px;
    }
}
@media only screen and (max-width: 1440px) {
    /* for disktop */
    .container-main {
        background-image: url(../images/bg-desktop-dark.jpg);
        background-repeat: no-repeat;
        font-size: 16px;
    }
}