body{
    margin: 0px;
    padding: 0px;
}

.container-main {
    display: grid;
    width: 100%;
    min-height: 100vh ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #efe5e5;
}

.container {
    width: 390px;
    border-radius: 10px;
    text-align: center;
}

a{
    src:url(../images/icon-moon.svg);
    float: right;
    margin: 11px;
    
}

.head-todo{
    color: #dfe5e6;
    text-align: -webkit-left;
    letter-spacing: 16px;
    font-family: system-ui;
}
.new-todo{
color: rgb(243, 241, 240);
}


.list{
    display: block;
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    border: none;
    border-radius: 4px;
    text-shadow: 4 -1 black;
    box-shadow: paleturquoise;
    box-shadow: 0 14px 28px rgb(0 0 0 / 8%), 0 10px 10px rgb(0 0 0 / 8%);
  }

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8x 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

 /* @import "../reading-list.scss";*/
  
.puteem-element{
    display: -webkit-inline-box;
    position: relative;
    bottom: -107px;}
.drag{
    text-align: center;
    color: #c4c1c1;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 375px) { 
/* for mobile */
.container-main {
    background-image: url(../images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    font-size: 16px;
}
}

@media only screen and (max-width: 1440px) {
/* for disktop */
.container-main {
    background-image: url(../images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    font-size: 16px;
}
}