@import "../todo-app-main/css/style.css";








.list{
    text-shadow: 4 -1 rgb(80, 77, 77);
  }





.container-main {
    background-color: #1d1414;
}


@media only screen and (max-width: 375px) { 
    /* for mobile */
    .container-main {
        background-image: url(./images/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
        font-size: 16px;
    }
    }
    
    @media only screen and (max-width: 1440px) {
    /* for disktop */
    .container-main {
        background-image: url(./images/bg-desktop-dark.jpg);
        background-repeat: no-repeat;
        font-size: 16px;
    }
    }